*

.netlogo 
{overflow: auto;}
.names {
	font-size: 15px;
	font-family: Helvetica;

}
.container 
{overflow: auto;
float: right;}

.logo
{overflow: hidden;
float: right;
background-color: #505050;}

.mood {font-family: 'Bangers', cursive;
	   font-size: 50px;
		background-color: black;
		color: white;
		overflow: auto;
		text-align: center;}

.names {font-family: 'Open Sans Condensed', sans-serif, bold;
		background-color: #505050;
		color: #C0C0C0; 
		overflow: auto;
		font-size: 20px;
		border-radius: 10px;
		text-align: center;
}

.copy {background-color: #505050;
		width: 32.5%;}

